{% extends "base.html" %}
{% block page_title %}Storyteller, part of the multifarce!{% endblock %}
{% block page_title_suffix %}{% endblock %}
{% block page_content %}
<div id="story">
    <h1>Once upon a time...</h1>
{% for p in story.paragraphs %}
    <p title="#{{ p.number }} {{ p.created|date:"F j, Y H:i" }} ({{ p.num_branches }} branch{{ p.num_branches|pluralize:"es" }})"><a href="/{{ p.story_id }}/{{ p.number }}">{{ p.text }}</a></p>
{% empty %}
    <p class="empty">This story is still in its early stages and does not have any text yet.</p>
    <p class="empty">Enter the first paragraph below to get it started!</p>
{% endfor %}
</div>
<input name="story_id" type="hidden" value="{{ story.id }}">
<input name="paragraph_number" type="hidden" value="{% if paragraph %}{{ paragraph.number }}{% else %}0{% endif %}">
<textarea class="paragraph" id="paragraph" name="text" placeholder="Write the next paragraph here!" cols="70" rows="3"></textarea>
<button disabled id="add">Add it!</button>
<p id="chars">140 characters left</p>
{% if paragraph.branches %}
<div id="branches">
<h2>Branches</h2>
<p>What other people wrote after the selected paragraph. <a href="/{{ story.id }}">See the whole story</a>.</p>
{% if paragraph.branches %}
<ul>
    {% for p in paragraph.branches %}
    <li class="paragraph" title="#{{ p.number }} {{ p.created|date:"F j, Y H:i" }} ({{ p.num_branches }} branch{{ p.num_branches|pluralize:"es" }})"><a href="/{{ p.story_id }}/{{ p.number }}">{{ p.text }}</a></li>
    {% endfor %}
</ul>
{% endif %}
</div>
{% endif %}
{% endblock %}
{% block page_foot %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
<script src="{{ "JSON.js"|static }}" type="text/javascript"></script>
<script src="{{ "story.js"|static }}" type="text/javascript"></script>
{% endblock %}
