{% extends "base.html" %}
{% block page_title %}Storyteller, part of the multifarce!{% endblock %}
{% block page_title_suffix %}{% endblock %}
{% block page_content %}
<div id="story">
    <h1>Once upon a time...</h1>
{% if story.paragraphs %}
    {% for p in story.paragraphs %}
    <p title="#{{ p.number }} {{ p.created|date:"F j, Y H:i" }}">{{ p.text }}</p>
    {% endfor %}
{% else %}
    <p class="empty">This story is still in its early stages and does not have any text yet!</p>
    <p class="empty">Follow the instructions below if you want to contribute.</p>
{% endif %}
</div>
<div id="continue">
    <h2>What now?</h2>
    <div id="suggest-paragraph" style="display: none;">
        <p>The story doesn't end here! Write the next paragraph:</p>
        <textarea class="paragraph" id="paragraph" name="paragraph" placeholder="Write your paragraph here." cols="70" rows="3"></textarea>
        <button disabled id="suggest">Suggest it!</button>
        <p id="lock-info">The text field will be reserved for you for a while, so that no one else can change the story while you are typing.</p>
    </div>
    <div id="locked" style="display: none;">
        <p>Someone else is currently writing another paragraph, so you may have to wait a couple of minutes before you can continue the story. You don't need to refresh the page, it'll update automatically!</p>
        <p class="subtext">If you want to continue the story <em>right now</em>, you can also choose to branch it. This will create an alternate version of the story that people can continue writing on. The current version of the story won't be affected and will continue in its own direction.
        <button class="branch">Branch the story</button>
    </div>
    <div id="pending" style="display: none;">
        <p>The following paragraph is currently pending review by people visiting this site:</p>
        <p class="paragraph review">Unfortunately for the wolf, he got a severe case of trichinellosis which resulted in a slow and painful death.</p>
        <p>So far, it has received <strong class="yes">1 yes vote</strong> and <strong class="no">0 no votes</strong>. First to reach three decides.</p>
        <p class="subtext">If you want to continue the story <em>right now</em>, you can also choose to branch it. This will create an alternate version of the story that people can continue writing on. The current version of the story won't be affected and will continue in its own direction.
        <button class="branch">Branch the story</button>
    </div>
    <div id="voting" style="display: none;">
        <p>The story doesn't end here! Someone has written the next paragraph, but before we add it to the story, we want <strong>your</strong> input on whether it's good or not!</p>
        <p>This is the paragraph that has been written:</p>
        <p class="paragraph review">Unfortunately for the wolf, he got a severe case of trichinellosis which resulted in a slow and painful death.</p>
        <p>Should it be part of the story? Remember, we don't want any offensive content or spam in the story, so click <strong class="no">No!</strong> if you feel that it belongs in either of those categories.</p>
        <p id="vote">
            <button class="yes" id="vote-yes"><em>Yes!</em> Add it to the story!</button>
            <button class="no" id="vote-no"><em>No!</em> I don't like it!</button>
        </p>
    </div>
</div>
{% endblock %}
{% block page_foot %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
<script src="{{ "JSON.js"|static }}" type="text/javascript"></script>
<script type="text/javascript">storyId = {{ story.id }};</script>
<script src="{{ "story.js"|static }}" type="text/javascript"></script>
{% endblock %}
