body, html {
    margin: 0;
    padding: 0;
}

body {
    color: #444;
    font: 16px/1.3 sans-serif;
}

button {
    background: #f8f8f8;
    background-image: -moz-linear-gradient(top, #fff, #f8f8f8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f8f8f8));
    border: #aaa solid 1px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    -khtml-box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    font-size: 28px;
    margin: 0;
    padding: 3px 6px 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

button:disabled {
    color: #aaa;
}

button:enabled {
    cursor: pointer;
}

button:enabled:hover {
    background-image: -moz-linear-gradient(top, #fff, #ffe5f1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ffe5f1));
    border-color: #ff006f;
}

h1 {
    font-size: 40px;
}

h1, h2 {
    color: #ff006f;
    line-height: 1.5;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

h1 + p, h2 + p {
    margin-top: 0;
}

h2 {
    font-size: 30px;
    margin-top: 1em;
}

html {
    background: #333;
}

ol, p, pre, ul {
    left: 3px;
    margin: .5em 0 0;
    position: relative;
    width: 575px;
}

ol, ul {
    padding-left: 1.5em;
}

pre {
    background: #fff;
    overflow: auto;
    padding: 5px;
    width: auto;
}

textarea {
    background: #fff;
    border: #aaa solid 1px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: .5em 0 4px;
    max-width: 606px;
    padding: 3px 6px;
    width: 606px;
}

textarea:disabled {
    background: #eee;
    color: #555;
}

textarea:focus {
    border-color: #ff006f;
    box-shadow: 0 0 7px rgba(255, 0, 111, .5);
    -khtml-box-shadow: 0 0 7px rgba(255, 0, 111, .5);
    -moz-box-shadow: 0 0 7px rgba(255, 0, 111, .5);
    outline: none;
}

.error {
    color: #c00;
}

.no {
    color: #c00;
}

.paragraph, #story p {
    color: #111;
    font-family: Georgia, serif;
    font-size: 21px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.paragraph a, #story p a {
    color: inherit;
    text-decoration: none;
}

.paragraph a:hover, #story p a:hover {
    background: rgba(0, 0, 0, .8);
    color: #fff;
    padding: 1px 0 2px;
    text-shadow: 0 0 3px #000;
}

.info {
    color: #777;
    font-size: 13px;
}

.info a {
    color: #333;
}

.review {
    background: #ffc;
}

.subtext {
    font-size: 13px;
}

.yes {
    color: #090;
}

#add {
    float: right;
}

#chars {
    color: #777;
    font-size: 15px;
    height: 42px;
    line-height: 1;
    margin: 0;
    width: 200px;
}

#chars.close-to-limit {
    color: #000;
    font-weight: bold;
}

#chars.past-limit {
    color: #c00;
    font-weight: bold;
}

#content {
    background: #fffff4;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 3px 10px 10px;
}

#content_outside { /* #content::outside */
    background: #282828;
    border-color: #252525 #444 #444 #252525;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 30px auto 7px;
    padding: 17px;
    width: 640px;
}

#footer {
    height: 22px;
    left: 0;
    margin: 0 auto 30px;
    padding: 0 17px;
    width: 640px;
}

#footer a {
    color: #888;
    font-size: 17px;
    text-decoration: none;
    text-shadow: -1px -1px #111;
}

#footer a:hover {
    color: #fff;
}

#github {
    float: right;
}

#story p.empty {
    opacity: .5;
}
