body, html {
    margin: 0;
    padding: 0;
}

body {
    color: #444;
    font: 16px/1.3 sans-serif;
}

button {
    background: #f8f8f8;
    background-image: -moz-linear-gradient(top, #fff, #f8f8f8);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f8f8f8));
    border: #aaa solid 1px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    -khtml-box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    font-size: 28px;
    margin: 0;
    padding: 3px 6px 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

button:disabled {
    color: #aaa;
}

button:enabled {
    cursor: pointer;
}

button:enabled:hover {
    background-image: -moz-linear-gradient(top, #fff, #ffe5f1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ffe5f1));
    border-color: #ff006f;
}

button.branch {
    display: block;
    margin: 10px auto 0;
}

h1 {
    font-size: 40px;
}

h1, h2 {
    color: #ff006f;
    line-height: 1.5;
    margin: 0;
    /*text-shadow: 0 1px 2px rgba(255, 0, 111, .3);*/
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

h1 + p, h2 + p {
    margin-top: 0;
}

h2 {
    font-size: 30px;
    margin-top: 1em;
}

html {
    background: #333;
}

ol, p, pre, ul {
    margin: .5em 0 0;
    padding: 0 2em 0 3px;
    position: relative;
}

pre {
    background: #fff;
    overflow: auto;
    padding: 5px;
}

textarea {
    border: #aaa solid 1px;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 0;
    max-width: 606px;
    padding: 3px 6px;
    width: 606px;
}

textarea:disabled {
    background: #eee;
    color: #555;
}

textarea:focus {
    border-color: #ff006f;
    box-shadow: 0 0 7px rgba(255, 0, 111, .5);
    -khtml-box-shadow: 0 0 7px rgba(255, 0, 111, .5);
    -moz-box-shadow: 0 0 7px rgba(255, 0, 111, .5);
    outline: none;
}

.error {
    color: #c00;
}

.no {
    color: #c00;
}

.paragraph, #story p {
    color: #111;
    font-family: Georgia, serif;
    font-size: 21px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.review {
    background: #ffc;
}

.subtext {
    font-size: 13px;
}

.yes {
    color: #090;
}

#app {
    background: #2f2f2f;
    border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    margin: 30px auto 5px;
    padding: 17px;
    width: 640px;
}

#chars {
    color: #777;
    font-size: 23px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 3px;
    top: 36px;
}

#chars.close-to-limit {
    color: #000;
    font-weight: bold;
}

#chars.past-limit {
    color: #c00;
    font-weight: bold;
}

#content {
    background: #fffff4;
    border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 3px 10px 10px;
}

#continue {
    position: relative;
}

#footer {
    margin: 0 auto 30px;
    padding: 0 17px;
    text-align: right;
    width: 640px;
}

#footer a {
    color: #888;
    font-size: 17px;
    text-decoration: none;
    text-shadow: -1px -1px #111;
}

#footer a:hover {
    color: #fff;
}

#lock-info {
    margin-top: 0;
    padding-right: 0;
    width: 450px;
}

#story a {
    color: inherit;
    text-decoration: none;
}

#story p[title]:hover, #story p[title]:hover::before
{
    background: rgba(0, 0, 0, .8);
    color: #fff;
}

#story p[title]:hover {
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -khtml-border-bottom-right-radius: 3px;
    -khtml-border-top-left-radius: 3px;
    -khtml-border-top-right-radius: 3px;
}

#story p[title]:hover::before {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -khtml-border-bottom-left-radius: 3px;
    -khtml-border-bottom-right-radius: 3px;
    color: #fff;
    content: attr(title);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 2px 4px 0;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 1;
}

#story p.empty {
    opacity: .5;
}

#suggest {
    float: right;
}

#vote {
    padding: 0;
}

#vote button {
    font-size: 12px;
    width: 307px;
}

#vote button em {
    font-family: Georgia, sans-serif;
    font-size: 50px;
}
